{% extends "base.html" %}
{% load static %}


{% block title %}Úvodní stránka{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static "informace/styly.css" %}">
{% endblock %}

{% block content %}
    {% include "informace/includes/header.html" %}
    <h1>Tahle stránka zobrazuje informace o zvířatech.</h1>
    <ul>
        {% for zvire in zvirata %}
            <li><a href="{% url "zvire_info" zvire.jmeno %}">{{ zvire.jmeno }}</a> = {{ zvire }}</li>
        {% endfor %}

        {# DTL = Django template language  #}
        {% if zvirata|length > 7 %}
            <p>Máme hodně zvířat</p>
        {% elif zvirata|length >= 5 %}
            <p>Máme tak akorát zvířat.</p>
        {% else %}
            <p>Máme málo zvířat.</p>
        {% endif %}
        {# tajné heslo: orangutan #}
        {% comment %}
        Víceřádkový komentář, může obsahovat cokoliv.
        {% endcomment %}
        <!-- HTML komentář, další tajné heslo: klokan -->
    </ul>
{% endblock %}  