<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informace o zvířeti</title>
</head>
<body>
    <h1>Tohle jsou informace o zvířeti</h1>
    <a href="{% url 'index' %}">Zpět na začátek</a>
    <p>
        Dnes tu máme zvíře jménem {{ zvire_v_sablone }}.
    </p>
    <p>
        {{ informace | capfirst }}.
    </p>
    <p>
        Zvíře má číslo {{ cislo }}.
    </p>
</body>
</html>
